{% extends 'base.html' %}

{% block content %}
<!-- 경희대 한의대에 마커찍기 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=udia1sq1ei"></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.5956759,127.0539533),
    zoom: 13
};

var map = new naver.maps.Map('map', mapOptions);

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.5956741,127.0542206),
    map: map
});

</script>
</body>
</html>
<!-- 경희대 한의대에 마커찍기 -->
<br>
  
  {% for board in posts %}
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{board.title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{board.pub_date|date:"Y-m-d"}}</h6>
            <p class="card-text">{{board.summary}}</p>
            <a href="{% url 'detail' board.id %}" class="card-link">자세히보기</a></p>
          </div>
        </div>
      <br>
  {% endfor %}

  {% if posts.has_previous %}
  <a href="?page=1"><strong><<&nbsp;</strong></a>
  <a href="?page={{posts.previous_page_number}}"><strong><&nbsp;&nbsp;</strong></a>
  {% endif %}

  <span>{{posts.number}}</span>
  <span>of</span>
  <span>{{posts.paginator.num_pages}}&nbsp;&nbsp;</span>

  {% if posts.has_next %}
  <a href="?page={{posts.next_page_number}}"><strong>>&nbsp;</strong></a>
  <a href="?page={{posts.paginator.num_pages}}"><strong>>></strong></a>
  {% endif %}

{% endblock %}

