{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<br>

<h1>회원가입</h1>

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %} <!-- 장고의 보안능력-->
    사용자이름:<input name="userid" type="text" value="" >
    <br>
    <br>
    비밀번호:<input type="password" name="userPwOrigin" value="">
    <br>
    <br>
    비밀번호확인:<input type="password" name="userPWConfirm" value="">
    <br>
    <br>
    <input type="submit" value="회원가입">
</form>

{% endblock %}